<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<!--
  Optional. Put this file in Kodi's userdata folder on EVERY device so Kodi can
  authenticate to the SMB shares without prompting. Keeps credentials out of
  sources.xml.
-->
<passwords>
  <path>
    <from pathversion="1">smb://${SERVER_IP}/</from>
    <to pathversion="1">smb://${SAMBA_USER}:${SAMBA_PASSWORD}@${SERVER_IP}/</to>
  </path>
</passwords>
